*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: orange;
    width: 100%;
    align-items: center;

}
nav h1{
    left: 40px;
    font-size: 40px;
    color: white;
    margin-top: 15px;
}
ul{
    display: flex;
    position: absolute;
    right: 100px;
    justify-content: space-evenly;
    width: 500px;
}
li{
    display: inline-block;
    padding: 14px 0px;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    cursor: pointer;
}
/* nav css ends here */
.big{
    background-image: url("https://images.unsplash.com/photo-1476718406336-bb5a9690ee2a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 75vw;
    height: 83vh;
    padding-left: 10%;
    padding-top: 5%; */
    /* width: 500px;
    height: 550px; */
    margin: 50px auto;
    padding-top: 50px;
    transition: 2ms;
    animation: slider 20s infinite;
    height: 75vh;
}

@keyframes slider{
    0%{
       background-image: url("https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
       /* width: 500px;
       height: 550px; */
      background-size:cover;
       margin: 50px auto;
       padding-top: 50px;
      height: 75vh;
    }
    25%{
        background-image: url("https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
        /* width: 500px;
       height: 550px; */
    background-size:cover;
       margin: 50px auto;
       padding-top: 50px;
     height: 75vh;
    }
    50%{
        background-image: url("https://images.unsplash.com/photo-1529042410759-befb1204b468?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
        /* width: 500px;
       height: 550px; */
    background-size:cover;
       margin: 50px auto;
       padding-top: 50px;
       height: 75vh;
    }
    75%{
        background-image: url("https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
        /* width: 500px;
       height: 550px; */
    background-size:cover;
       margin: 50px auto;
       padding-top: 50px;
       height: 75vh;
    }
    100%{
        background-image: url("https://images.unsplash.com/photo-1565958011703-44f9829ba187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
        /* width: 500px;
       height: 550px; */
    background-size:cover;
       margin: 50px auto;
       padding-top: 50px;
       height: 75vh;
    }
}
h2{
    padding-left: 41%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}
section{
    width: 80vw;
    margin: 50px auto;
    /* border: 1px solid #ccc; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

figure{
    width: 400px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 15px;
    transition: 200ms;
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    box-shadow: 5px 5px 10px rgb(104,104,104);
}
figure img{
    height: 330px;
    width: 95%;
    padding: 8px;
}
h4{
    padding-left: 45%;
    margin: 100px auto;
    font-size: 35px;
}
h5{
    padding-top: 30%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}
.container{
    width: 50vw;
    height: 68vh;
    border: 1px solid black;
    margin: 100px auto;
    background-image: url(https://image.shutterstock.com/image-photo/contact-us-customer-support-service-260nw-420893623.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inputform{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
